body {
    text-align: center;
    background-color:#EEEEEE;
    font-size: 100%
}

* {
    margin: 0;
    padding: 0;
}

#heads {
    height: 600px;
    background: -webkit-linear-gradient(left, rgb(81, 214, 255), rgb(30, 100, 250));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(81, 214, 255), rgb(30, 100, 250));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(81, 214, 255), rgb(30, 100, 250));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(81, 214, 255), rgb(30, 100, 250));
}

header {
    background: -webkit-linear-gradient(left, rgb(81, 214, 255), rgb(0, 80, 255));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(81, 214, 255), rgb(0, 80, 255));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(81, 214, 255), rgb(0, 80, 255));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(81, 214, 255), rgb(0, 80, 255));
}

h1 {
    line-height: 450px;
    color: white;
    font-size: 3em;
}

h2 {
    color: burlywood;
    font-size: 2em;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin:0; 
    padding:0;
}


div {
    background-color: white;
}

.note {
    border: 1px solid transparent;
    border-image-source: radial-gradient(white, rgb(58, 58, 58));
    border-image-slice: 1;
    border-image-width: 1;
    height: 600px;
    width: 60%;
    position:relative;left:20%;
    font-size: 25px;
}

.footer {
    min-height: 40px;
    padding: 20px 0;
    border-top: 1px solid #e7eaf1;
    text-align: center
}

a:link {color:#000000;}  
a:visited {color:#00FF00;}  
a:hover {color:#FF00FF;}  
a:active {color:#0000FF;}

::selection{
    background-color: rgba(0,147,254,.2);
}