#head
{
    height: 450px;
    background: -webkit-linear-gradient(left, rgb(81, 214, 255) , rgb(0, 80, 255)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(81, 214, 255), rgb(0, 80, 255)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(81, 214, 255) , rgb(0, 80, 255)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(81, 214, 255) , rgb(0, 80, 255));
}
header
{
    background: -webkit-linear-gradient(left, rgb(81, 214, 255) , rgb(0, 80, 255)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(81, 214, 255), rgb(0, 80, 255)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(81, 214, 255) , rgb(0, 80, 255)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(81, 214, 255) , rgb(0, 80, 255));
}
h1
{
    text-align:center;
    line-height:450px;
    color: white;
    font-size: 50px;
}
h2
{
    color: burlywood;
    font-size: 35px;
}
