/*
 * @Description: 
 * @Author: Dengxz
 * @LastEditors: Dengxz
 * @Date: 2019-04-26 18:55:02
 * @LastEditTime: 2019-05-01 23:11:15
 */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 150%;
}

body {
    width: 100%;
    height: 150%;
    text-align: center;
    background-color: rgb(246, 246, 246);
}

.header {
    width: 100%;
    height: 10%;
    background: -webkit-linear-gradient(left, rgb(81, 214, 255), rgb(30, 100, 250));
}

.main {
    /*float: left;*/
    width: 100%;
    height: 90%;
    background-color: rgb(246, 248，250);
}

.menu {
    width: 20%;
    height: 100%;
    border-style: solid;
    border-color: rgb(218, 216, 218);
    border-width: 1px;
    background-color: rgb(246, 246，246);
}

.menu_button_even {
    height: 150px;
    background-color: rgb(250, 250, 250);
}

.menu_button_odd {
    height: 150px;
    background-color: rgb(225, 230, 230);

}

.menu_apron {
    
    margin-left: 10%;
    width: 200px;
    height: 2px;
    background-color: rgb(233, 233, 233);
}


.di_float {
    width: 100px;
    height: 600px;
    border: 2px solid #f00;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    left: 0;
    top: 20%;
    background: #DBEAF9;
    visibility: visible;

}

#first_button{
    border-top-right-radius: 30px;
}
#last_button{
    border-bottom-right-radius: 30px;
}
.canvas_main{
    float: left;
    width: 60%;
    height: 100%;

}

.code_main{
    float: right;
    width: 39.8%;
    height: 100%;
}
.interval{
    background-color: black;
    float: left;
    height: 100%;
    width:0.2%;
}