/*
 * @Description: 
 * @Author: Dengxz
 * @LastEditors: Dengxz
 * @Date: 2019-04-26 18:55:02
 * @LastEditTime: 2019-04-29 22:16:25
 */
html {
    width: 100%;
    height: 200%;
}

body {
    width: 100%;
    height: 200%;
    text-align: center;
    background-color: rgb(246, 246, 246);
}

.header {
    width: 100%;
    height: 14%;
    background: -webkit-linear-gradient(left, rgb(81, 214, 255), rgb(30, 100, 250));
}

.main {
    width: 100%;
    height: 85%;
    position: relative;
}

.menu {
    width: 20%;
    height: 100%;
    border-style: solid;
    border-color: rgb(218, 216, 218);
    border-width: 1px;
    background-color: rgb(246, 246，246);
}

.menu_button_even {
    height: 150px;
    background-color: rgb(250, 250, 250);

}

.menu_button_odd {
    height: 150px;
    background-color: rgb(255, 255, 255);

}

.menu_apron {
    margin-left: 10%;
    width: 200px;
    height: 2px;
    background-color: rgb(233, 233, 233);
}

* {
    margin: 0;
    padding: 0;
}
.di_float {
    width: 100px;
    height: 600px;
    border: 2px solid #f00;
    border-radius: 20%;
    position: fixed;
    left: 0;
    top: 300px;
    background: #DBEAF9;
	visibility: visible;

}